 body {
    font-size: 16px;
    font-family: 'Helvetica Neue', sans-serif; ; 
    color:white;
    background-color: #61122f;
}


/** HEADER **/

#header-nav {
    background-color: rgb(189, 123, 164);
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    text-shadow: 1px 1px 2px #fff
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
        color: #CEF0D4; 
        font-family: 'Helvetica Neue', sans-serif; 
        font-size: 1.8em; 
        font-weight: bold; 
        letter-spacing: 1px; 
        padding: 0 0 40px; 
       
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-list {
    background-color: rgb(240, 194, 222);

}

#nav-list a {
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #fce29e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7d1913;
}


/** END HEADER */


/** HOME PAGE **/

#main-content {
    width: 92%;
    margin-bottom: 40px;
}

#main-content h2 {
    font-size: 4em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #CEF0D4; 
    font-family: 'Helvetica Neue', sans-serif; ; 
    line-height: 48px; 
    margin: 0 0 50px; 
    text-align: center; 
    text-shadow: 1px 1px 2px #082b34
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#main-section {
    background-color: #222;
    box-shadow: 0 0 50px #222;
    padding: 30px;
}

/** END HOME PAGE **/

#main-section h3{
        color: #c9d0d4; 
        font-family: 'Helvetica Neue', sans-serif; 
        font-size: 46px; 
        font-weight: 100; 
        line-height: 50px; 
        letter-spacing: 1px; 
        padding: 0 0 40px; 
        border-bottom: double #555; 
}
#main-section p{
    color: #bbc3c8; 
    font-family: 'Verdana', sans-serif; 
    font-size: 16px; 
    line-height: 26px; 
    text-indent: 30px; 
    margin: 0;
}